<h1>Editor de Películas</h1>
<div role="form">
    <div class="form-group">
        <label>Título</label>
        <input type="text" class="form-control" id="titulo" placeholder="Título" required="required" autofocus="autofocus" value="{{title}}">
    </div>
    <div class="form-group">
        <label>Contenido</label>
        <textarea class="form-control" rows="10" id="contenido">{{{content}}}</textarea>
    </div>
    <div class="form-group">
        <label>Director</label>
        <input type="text" class="form-control" id="director" placeholder="Director" value="{{manager}}">
    </div>
     <div class="form-group">
        <label>URL Póster (URL completa y válida)</label>
        <input type="text" class="form-control" id="poster" placeholder="URL" required="required" autofocus="autofocus" value="{{poster}}">
    </div>
    <button class="btn btn-primary" id="editor-submit-btn" data-id="{{_id}}">
        <i class="fa fa-paper-plane-o"> Guardar Película</i>
    </button>
</div>
