{{#if isAdmin}}
    <a href="#home/filmeditor" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i> Crear Entrada
    </a>
{{/if}}
<h1>Películas</h1>
{{#each film}}
    <div class="media">
        {{#if ../isAdmin}}
            <div class="btn-toolbar">
            <a href="#home/filmeditor/{{_id}}" class="pull-right">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="#home/deleteeditor/{{_id}}" class="pull-right">
                <i class="fa fa-remove"></i>
            </a>
            </div>
        {{/if}}
        <a class="media-left" href="#home/film/{{_id}}">
            <i class="fa fa-book publication-icon"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{title}}</h4>
            <p>{{ticks}}</p>
            <p></p>
        </div>
    </div>
    <hr />
{{/each}}