<h1 class="media-heading title-center primary-color-font">{{title}}</h1>
<br/><br/>
<img src="{{poster}}" alt="" class="img-responsive img-center">
<br/><br/>
<p class="text-justify">{{{content}}}</p>
<p class="details-film">Estreno: {{date}} &nbsp;-&nbsp; Director: {{manager}}</p>
<div id="comments" data-film-id="{{_id}}">
</div>